# ===============================
# Database
# ===============================
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-aged-wind-az05nocz-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_F3T4djEmWPQx

# ===============================
# JWT
# ===============================
JWT_SECRET=CareerOS@2026$SecureJWT#Backend123456789
JWT_EXPIRATION_MS=900000

# ===============================
# Server
# ===============================
PORT=8080

# ===============================
# Hibernate
# ===============================
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# ===============================
# Logging
# ===============================
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_COM_CAREEROS=INFO
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=DEBUG

# ===============================
# CORS
# IMPORTANT
# ===============================
APP_CORS_ALLOWED_ORIGINS=https://career-os-jade-eight.vercel.app,http://localhost:5173